@{
    ViewData["Title"] = "contacto";
}


<h2 class="text-center m-2"> Contactenos y siguenos </h2>


<div class="col-12 d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-ad-start align-items-lg-start">

    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt
            maxime provident nobis? Dolores perferendis, quisquam temporibus vitae
            quos magni quis. Nisi tenetur numquam consequatur qui consequuntur
            facere, saepe itaque!
        </p>

        

    </div>

    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt
            maxime provident nobis? Dolores perferendis, quisquam temporibus vitae
            quos magni quis. Nisi tenetur numquam consequatur qui consequuntur
            facere, saepe itaque!
        </p>


    </div>

</div>