@{
    ViewData["Title"] = "Bienvenido a abaco +";
}
<div class="contenedorLogo">
    <img class="imglogo" src="./MisRecursos/pic/Imagenlog1.png" alt="" />
</div>

<div class="contenedor100">

    <div  class="col- bg-white d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-ad-start align-items-lg-start">
>
        <img class="contenedorImgPrincipal" src="~/pic/imaQuienessomos.jpg" alt=""/>

    </div>
</div>  