@{
    ViewData["Title"] = "Privado";
}


<h2 class="text-center m-2"> Informacion Pivada </h2>


<div class="col-12 d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-ad-start align-items-lg-start">

    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">

        <h2 class="text-center m-2"> Usuario @User.Identity.Name   tiene permiso  para la tarea  </h2>

    </div>

    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">
        <ol>
            @foreach (var c in User.Claims)
            {
                <li>@c.Type: @c.Value</li>
            }
        </ol>

    </div>

</div>